{% extends "base.html" %}

{% block title %}Expense Tracker{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<style>
      body {
        
        background-image: url('/static/images/footer_design3.png');
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
        
    }

</style>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <h4>Add your expenses here:</h4>
      <form id="expenseForm">
        <div class="form-group">
          <label for="categorySelect">Select Category:</label>
          <select class="form-control" id="categorySelect">
            <option value="food">Food</option>
            <option value="utilities">Utilities</option>
            <option value="transportation">Transportation</option>
            <option value="entertainment">Entertainment</option>
            <option value="medical">Medical</option>
            <option value="education">Education</option>
            <!-- Add more categories as needed -->
          </select>
        </div>
        <div class="form-group">
          <label for="expenseInput">Expense Amount:</label>
          <input type="number" class="form-control" id="expenseInput" placeholder="Enter expense amount" min="0">
        </div>
        <div class="form-group">
          <label for="set-date">Date: </label>
          <input type="date" class="form-control" id="set-date" name="expenseDate">
        </div>
        <button type="submit" class="btn btn-primary">Add Expense</button>
      </form>
    </div>
    <div class="col-md-7">
      <h4>Expense Summary:</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Expense</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody id="expenseTableBody">
          <!-- Expense data will be dynamically added here -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  document.getElementById('expenseForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent form submission

    var category = document.getElementById('categorySelect').value;
    var expenseAmount = document.getElementById('expenseInput').value;
    var expenseDate = document.getElementById('set-date').value;

    // Add expense data to the table
    var expenseTableRow = "<tr><td>" + category + "</td><td>Rs." + expenseAmount + "</td><td>" + expenseDate + "</td></tr>";
    document.getElementById('expenseTableBody').innerHTML += expenseTableRow;

    // Clear expense input fields
    document.getElementById('expenseInput').value = '';


  });


</script>
{% endblock %}
